body {
  background-color: black;
  font-family: 'Kurale', serif;
  color: #ffffff;
}

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

h1 {font-size:300%}
h2, h3, p {font-size:100%}
li {color: white}
li span {color: white}

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
}

.container {
  margin-top: 50px;
}
